* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #363636;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -125px;
  position: relative;
}

.navbar {
  font-size: 18px;
  background: #363636;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #BD9C68;
  font-size: 24px;
}

.active {
  display: block;
  width: 100%;
  padding: 10% 10%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: -o-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: -moz-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
}

.container {
  font-family: 'Roboto';
  text-align: left;
  padding: 25px 25px;
  margin: auto;
  max-width: 1250px;
  min-height: 100%;
  overflow: visible;
  padding-top: 25px;
}

.containerproj {
  font-family: 'Roboto';
  text-align: center;
  padding: 25px 25px;
  margin: auto;
  max-width: 800px;
  min-height: 100%;
  overflow: visible;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.clearfooter {
  height: 175px;
  clear: both;
}

.pic {
  display: none;
}

.footer {
  -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: -o-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: -moz-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  position: relative;
  left: 0;
  bottom: 0;
  height: 125px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #CFCFCF;
  padding-top: 25px;
}

.social-icons {
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  font-size: 20px;
}

.social-icons i {
  padding: 10px;
  transition: all ease-in-out 150ms;
}

.social-icons a {
  color: #CFCFCF;
}

.row::after {
  content: "";
  clear: both;
  display: inline;
  padding-top: 25px;
  width: 95%;
}

img {
  width: 100%;
}


.pic {
  display: none;
}

.containerm {
  font-family: 'Roboto';
  text-align: left;
  padding: 25px 25px;
  margin-top: 80px;
  margin-left: auto;
  max-width: 1200px;
}

.e_mail {
  color: #8F754F;
}

.hero-container1 {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0;
}

.container2 {
  padding: 0 15px;
  max-width: 1200px;
  margin: 10px auto;
}

.container3 {
  padding: 50px 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container333 {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container123 {
  padding: 70px 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #CFCFCF;
  color: #BD9C68;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.img-butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.img-butt span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.img-butt:hover span {
  padding-right: 25px;
}

.img-butt:hover span:after {
  opacity: 1;
  right: 0;
}

/* Add padding BETWEEN each column */
.proj-row,
.proj-row>.proj-col {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.proj-col {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.proj-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #363636;
  padding: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px 20px;
  /* Some padding */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CFCFCF;
  /* Gray border */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  background-color: #363636;
}

input, select, textarea {
  color: #CFCFCF;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  background-color: #363636;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #CFCFCF;
  color: #BD9C68;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #BD9C68;
  color: white;
}

.row::after {
  content: "";
  clear: both;
  display: inline;
  padding-top: 25px;
  width: 95%;
}

ul.a {
  padding-left: 1.2em;
}

ol.a {
  padding-left: 1.2em;
}

.proj-col {
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #BD9C68;
  }

  footer {
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
    background: -o-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
    background: -moz-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
    background: linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
    text-align: center;
    color: #CFCFCF;
    padding-top: 10px;
    width: 100%;
    z-index: 1;
    height: 150px;
  }

  .proj-row {
    margin-bottom: 150px;
  }

  .hero-container {
    padding-top: 150px;
    margin: auto;
    position: relative;
    z-index: 1;
    height: 400px;
  }

  .pic {
    display: inline-flex;
  }

  .e_mail {
    text-decoration: underline;
    color: #4A4A4A;
  }

  .e_mail hover {
    text-decoration-color: #FD4A03;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px 20px;
    /* Some padding */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CFCFCF;
    /* Gray border */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    width: 25%;
  }

  .row2::after {
    content: "";
    clear: both;
    display: table;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .column2 {
    float: left;
    width: 50%;
    padding: 5px;
  }

  /* Add a background color and some padding around the form */
  .con_container {
    padding: 50px 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .proj-col {
    width: 100%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col2-md-4 {
    width: 28.33%;
  }

  .col2-md-5 {
    width: 36.66%;
  }

  .col2-md-6 {
    width: 45%;
  }

  .e_mail {
    color: #8F754F;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .proj-row {
    margin-right: 50px;
  }

  .pic {
    display: inline-flex;
    height: 500px;
  }

  .containerm {
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 5%;
    max-width: 90%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .proj-col {
    width: 50%;
  }

  .e_mail {
    color: #8F754F;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .social-icons a {
    padding-top: 45px;
  }

  .proj-col {
    width: 25%;
  }

  .e_mail {
    color: #8F754F;
  }


}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .pic {
    height: 700px;
    padding-bottom: 25px;
  }

  .container {
    padding-top: 75px;
    max-width: 1440px;
  }


  .social-icons a {
    padding-top: 75px;
  }
}
