* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

.pic {
  display: none;
}

.background {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(34.21% 53.74% at 65.79% 50%, rgba(124, 124, 124, 0) 0%, #363636 100%), #363636;
}

.lcon img {
  position: absolute;
  top: 25px;
  left: 5%;
  max-width: 7%;
}


.logo {
  position: absolute;
  top: 15px;
  left: 5%;
  height: 7%;
  width: 7%;
}

.containerm {
  font-family: 'Roboto';
  text-align: left;
  padding: 25px 25px;
  margin-top: 80px;
  margin-left: auto;
  max-width: 1200px;
  top: 0;
  height: 100%;
  
}
.container {
font-family: 'Roboto';
text-align: left;
padding: 25px 25px;
margin: auto;
max-width: 1200px;
margin-top: 75px;
top: 0;
height: 100%;

}



.containerm p {
  margin: 3px 0;
}

.rec2 {
  display: none;
}

.rec3 {
  display: none;
}

#navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 1);
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 50px;
  width: 100%;
  top: 0;
}

#navbar a {
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 20px;
  transition: 0.4s;
}

#navbar #logo a {
  float: left;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #000000;
  height: 0px;
  overflow: hidden;
}

.site-nav--open {
  width: 100%;
  padding: 0 10%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(106, 106, 106, .97);
}

.site-nav--open li {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  list-style: none;
}

.site-nav li {}

.site-nav a {
  padding: 2em 6em;
  color: #CFCFCF;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:visited {
  color: #ffffff;
}

.site-nav a:active {
  color: #ffffff;
}

.menu-toggle {
  position: absolute;
  top: 35px;
  right: 8px;
  z-index: 2;
  font-style: normal;
  margin: auto;
}

.hamburger {
  margin: 5px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #BD9C68;
  height: 2.75px;
  width: 1.5em;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: all ease-in 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
  background: #CFCFCF;
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
  background: #CFCFCF;
}

.e_mail {
  color: #8F754F;
}

.hero-container1 {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0;
}

.container2 {
  padding: 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.container3 {
  padding: 50px 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container33 {
  padding: 50px 15px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #CFCFCF;
  color: #BD9C68;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.img-butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.img-butt span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.img-butt:hover span {
  padding-right: 25px;
}

.img-butt:hover span:after {
  opacity: 1;
  right: 0;
}

.bg-gold {
  height: 100px;
  background: -webkit-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: -o-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: -moz-linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
  background: linear-gradient(110deg, #BD9C68 60%, #DBAE68 60%);
}

footer {
  -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
}

.social-icons {
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  font-size: 20px;
}

.social-icons i {
  padding: 10px;
  transition: all ease-in-out 150ms;
}

.social-icons a {
  color: #CFCFCF;
}

.footer-container {
  text-align: center;
  color: #CFCFCF;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 150px;
}

/* Add padding BETWEEN each column */
.proj-row,
.proj-row>.proj-col {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.proj-col {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.proj-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #363636;
  padding: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px 20px;
  /* Some padding */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CFCFCF;
  /* Gray border */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  background-color: #363636;
}

input, select, textarea{
    color: #CFCFCF;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  background-color: #363636;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #CFCFCF;
  color: #BD9C68;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #BD9C68;
  color: white;
}

.row::after {
  content: "";
  clear: both;
  display: inline;
  padding-top: 25px;
  width: 95%;
}

ul.a {
  padding-left: 1.2em;
}

ol.a {
  padding-left: 1.2em;
}

.proj-col {
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .background {
    height: 100%;
  }

  .container {

  padding-bottom: 0;
  }



  .proj-row {
    margin-bottom: 150px;
  }

  .menu-toggle {
    position: absolute;
    top: 30px;
    right: 8px;
    z-index: 2;
    font-style: normal;
    margin: auto;
  }

  .hero-container {
    padding-top: 150px;
    margin: auto;
    position: relative;
    z-index: 1;
    height: 400px;
  }

  .containerm {
    padding-bottom: 0;
  }

  .bg-container {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('img/heroback.svg') no-repeat;
    opacity: .4;
    background-size: 100%;
    height: 400px;
    text-align: center;
  }

  .hero-container1 {
    padding-top: 150px;
    margin: auto;
    position: relative;
    z-index: 1;
    height: 400px;
  }

  .bg-container1 {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('img/heroback.svg') no-repeat;
    opacity: .4;
    background-size: 100%;
    height: 400px;
    text-align: center;
  }

  .e_mail {
    text-decoration: underline;
    color: #4A4A4A;
  }

  .e_mail hover {
    text-decoration-color: #FD4A03;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px 20px;
    /* Some padding */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CFCFCF;
    /* Gray border */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    width: 25%;
  }

  .row2::after {
    content: "";
    clear: both;
    display: table;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .column2 {
    float: left;
    width: 50%;
    padding: 5px;
  }

  /* Add a background color and some padding around the form */
  .con_container {
    padding: 50px 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .proj-col {
    width: 100%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col2-md-4 {
    width: 28.33%;
  }

  .col2-md-5 {
    width: 36.66%;
  }

  .col2-md-6 {
    width: 45%;
  }

  .e_mail {
    color: #8F754F;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  footer {
    display: none;
  }


  .lcon img {
    position: absolute;
    top: 25px;
    left: 5%;
    max-width: 3%;
  }

  .proj-row {
    margin-right: 50px;
  }

  .rec {
    position: fixed;
    width: 50px;
    height: 50%;
    right: 0;
    top: 0;
    background: #6A6A6A;
  }

  .rec2 {
    display: block;
    position: fixed;
    width: 50px;
    height: 50%;
    right: 0;
    top: 50%;
    background: #918F8F;
  }

  .social-icons {
    height: 100%;
    font-size: 20px;
    overflow: auto;
  }

  .social-icons i {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
  }

  .social-icons a {
    vertical-align: middle;
    padding-top: 40px;
    text-align: center;
    display: block;
    color: #CFCFCF;
  }

  .pic {
    display: inline-flex;
    height: 500px;
  }

  .containerm {
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 5%;
    max-width: 90%;
  }

  .rec3 {
    display: block;
    position: fixed;
    width: 35%;
    height: 50px;
    left: 0;
    top: 100%;
    background: #BD9C68;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(34.21% 53.74% at 65.79% 50%, rgba(124, 124, 124, 0) 0%, #363636 100%), #363636;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .proj-col {
    width: 50%;
  }

  .e_mail {
    color: #8F754F;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .social-icons a {
    padding-top: 45px;
  }

  .pic {
    position: fixed;
  }

  .proj-col {
    width: 25%;
  }

  .e_mail {
    color: #8F754F;
  }

  .hero-container1 {
    padding-top: 250px;
    margin: auto;
    position: relative;
    z-index: 1;
    height: 700px;
    letter-spacing: 5px;
  }

  .bg-container1 {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('img/heroback.svg') no-repeat;
    opacity: .4;
    background-size: 100%;
    height: 700px;
    text-align: center;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .pic {
    height: 700px;
    padding-bottom: 25px;
  }

  .containerm {
    padding-top: 75px;
    margin-left: 5%;
    max-width: 90%;
    padding-bottom: 0;
  }

  .social-icons a {
    padding-top: 75px;
  }
}
